{{#if message}}
<section class="notifications">
    <p class="notification-message">{{message}}</p>
</section>
{{/if}}
{{#if isLoggedIn}}
<main>
    <h1 class="text-center">Courses</h1>
    <section>
        <a href="/courses/create" class="btn btn-warning ">Create Course</a>
        <form class="search float-right">
            <label>Search: </label>
            <input value="{{search}}" name="search" type="text">
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
    </section>
    {{#if courses}}
    <div class="container mt-3">
        <div class="row ">
            <div class="card-deck d-flex justify-content-center">
                {{#each courses}}
                <div class="card mb-4">
                    <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-footer">
                        <a href="/courses/details/{{_id}}"><button type="button"
                                class="btn btn-primary">Details</button></a>
                        <small class="float-right">Date: {{createdAt}}</small>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{else}}
    <h3 class="text-center">No courses...</h3>
    {{/if}}

</main>
{{else}}
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Tutorials</h1>
            <p class="lead">Start Self-Learning Today: Be the best Developer in the company</p>
        </div>
    </div>

    <div>
        {{#if topCourses}}
        <h1 class="text-center">Top Courses</h1>
        <div class="container mt-3">
            <div class="row d-flex justify-content-center">

                <div class="card-deck">
                    {{#each topCourses}}
                    <div class="card mb-4">
                        <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" width="400">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <small class="float-right">Enrolled: {{usersEnrolled.length}}</small>
                        </div>
                    </div>

                    {{/each}}
                </div>

            </div>
            {{else}}
            <h4 class="text-center">No courses...</h4>

            {{/if}}



        </div>
    </div>
</main>
{{/if}}